# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
exams/

# VitePress
contents/.vitepress/dist
contents/.vitepress/cache

# System Files
.DS_Store
Thumbs.db
.~lock.Olimpiad-Chemistery.odt#
